body {
    background-color: cornflowerblue;
}

h1 {
    font-family: Jokerman;
    font-size: 3em;
    font-weight: bold;
    color: antiquewhite;
    text-align: center;
}

h4 {
   font-family: Candara;
    font-size: 1.5em;
    font-weight: bold;
    color: snow;
    text-align: left;
}

p {
    font-family: Candara;
    font-size: 1.1em;
    color: #FEFECE;
    text-align: left;
}

bank {
    font-family: Candara;
    font-size: 1.2em;
    color: aliceblue;
    text-align: left;
}

.feedback {
    font-family: Candara;
    font-size: 1em;
    color: darkred;
    text-align: left;
    font-weight: bold;
}

.button {
    background-color: darkslateblue;
    border: darkblue;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 0.8em;
}

.button:active {
    background-color: #685dAb;
    border: darkblue;
    color: lightgray;
    padding: 15px 32px;
}

.dropdown {
    font-size: 1.2em;
}

.image{
    background: white;
    border: black;
    border-radius: 1em;
}